<div class="popup-box">
    <div class="popup-img-div">
        <img class="popup-image" id="popup-img-cepheid-star" src="/images/andromeda_images/cepheid_star.png" alt="Estrela Cefeida">
    </div>
    <div class="popup-content">
        <div class="icons-div">
            <img class="close-icon" src="/images/close_icon.png" alt="Ícone de fechamento" title="Fechar">
            <img class="idea-icon" src="/images/light_bulb.png" alt="Lâmpada" title="Espaço Ideal">
        </div>
        <div class="popup-text">
            <h2>Estrela Cefeida</h2>
            <p>
                Estrelas cefeidas são verdadeiras “marcadoras de tempo” do universo! Elas são conhecidas por sua regular e previsível variação de brilho, que ocorre em ciclos que duram de alguns dias a algumas semanas. Esse pulso de luminosidade ocorre devido a mudanças na sua estrutura interna, tornando-as ferramentas valiosas para medir distâncias no cosmos. O estudo das cefeidas ajudou os astrônomos a determinar a distância até galáxias distantes e a calcular a taxa de expansão do universo. Seu nome vem da primeira estrela desse tipo descoberta na constelação de Cefeu, e essas estrelas desempenham um papel crucial na nossa compreensão da escala do universo.
            </p>
        </div>
    </div>
</div>