<div class="popup-box">
    <div class="popup-img-div">
        <picture>
            <source media="(max-width: 768px)" srcset="/images/andromeda_images/supermassive_star_popup.png" type="image/png" loading="eager">
            <img class="popup-image" id="popup-img-supermassive-star" src="/images/andromeda_images/supermassive_star.png" alt="Estrela Supermassiva" loading="eager">
        </picture>
    </div>
    <div class="popup-content">
        <div class="icons-div">
            <img class="close-icon" src="/images/close_icon.png" alt="Ícone de fechamento" title="Fechar">
            <img class="idea-icon" src="/images/light_bulb.png" alt="Lâmpada" title="Espaço Ideal">
        </div>
        <div class="popup-text">
            <h2>Estrela Supermassiva</h2>
            <p>
                Estrelas supermassivas são verdadeiros gigantes do cosmos, com massas que podem ultrapassar 100 vezes a massa do Sol! Elas são encontradas principalmente no centro das galáxias e podem brilhar com uma luminosidade milhões de vezes maior do que a do nosso astro-rei. Essas estrelas têm uma vida útil relativamente curta, vivendo apenas alguns milhões de anos, mas seu impacto é gigantesco. Quando uma estrela supermassiva chega ao fim de sua vida, ela pode colapsar em um buraco negro de tamanho colossal, ajudando a formar e a manter as galáxias. Seu brilho e poder são tão intensos que podem influenciar a formação de novas estrelas e até mesmo afetar a estrutura das galáxias em que estão localizadas.
            </p>
        </div>
    </div>
</div>