@media (max-width: 992px){

    footer{
        padding: 10px 18px;
    }

    footer button{
        padding: 7px 10px;
    }

    .footer-links-div li a{
        font-size: 1.05em;
    }
}

@media (max-width: 768px){

    footer{
        padding: 10px 15px;
    }

    .footer-btn-div{
        display: none;
    }

    .footer-links-div{
        width: 75%;
    }

    .footer-links-div p{
        font-size: 1em;
        padding-top: 8px;
    }

    .footer-links-div ul{
        line-height: 1.6em;
    }

    .footer-links-div li a{
        font-size: 1em;
    }

    .cowboy-bebop-div{
        width: 25%;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .cowboy-bebop-div p{
        font-size: 0.7em;
        margin: 0;
        padding: 0;
    }

    .cowboy-bebop-div img{
        width: 50px;
        padding-bottom: 0;
    }
}