@media (max-width: 992px){
    .playlist-div{
        width: 180px;
        bottom: 120px;
    }
    
    .music-img{
        width: 45px;
    }

    .music-div p{
        font-size: 0.8em;
    }

    .sound-wave-icon{
        width: 25px;
    }
}
