::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track{
      background: rgba(27, 22, 35)
}
  
::-webkit-scrollbar-thumb{
      background: rgb(49, 37, 58);
      border-radius: 10px;
}

.change-scrollbar::-webkit-scrollbar-track{
      background: rgb(3, 0, 5);
}

.change-scrollbar::-webkit-scrollbar-thumb{
      border: 1px solid yellow;
      background: transparent;
}