<div class="popup-box">
    <div class="popup-img-div">
        <picture>
            <source media="(max-width: 768px)" srcset="/images/galaxies_images/exoplanet_popup.png" type="image/png" loading="eager">
            <img class="popup-image" id="popup-img-exoplanet" src="/images/galaxies_images/exoplanet.png" alt="Exoplaneta Andrômeda b" loading="eager">
        </picture>
    </div>
    <div class="popup-content">
        <div class="close-icon-div">
            <img class="close-icon" src="/images/close_icon.png" alt="Fechar" title="Fechar">
        </div>
        <div class="icons-div">
            <img class="star-icon" src="/images/star_icon.png" alt="Favoritar" title="Favoritar">
            <img class="selected-star-icon" src="/images/selected_star_icon.png" alt="Favoritar" title="Favoritar">
            <img class="idea-icon" src="/images/light_bulb.png" alt="Espaço Ideal" title="Espaço Ideal">
        </div>
        <div class="popup-text">
            <h2>Exoplaneta Andrômeda b</h2>
            <p>
                Exoplanetas são planetas que orbitam estrelas fora do nosso Sistema Solar. Eles podem variar amplamente em tamanho, composição e localização. O exoplaneta Andromeda b, localizado na Galáxia de Andrômeda, é um exemplo intrigante dessa diversidade. Descoberto em 2014, Andromeda b é um gigante gasoso, semelhante a Júpiter, e orbita uma anã vermelha. Com um tamanho e massa muito maiores do que os planetas do nosso Sistema Solar, ele nos dá uma ideia de como sistemas planetários podem se formar e variar em outras galáxias. A descoberta de exoplanetas em galáxias vizinhas é um marco na astronomia, expandindo nosso conhecimento sobre a formação planetária e a estrutura do universo.
            </p>
        </div>
    </div>
</div>