<div class="popup-box">
    <div class="popup-img-div">
        <picture>
            <source media="(max-width: 768px)" srcset="/images/galaxies_images/m33_x7_popup.png" type="image/png" loading="eager">
            <img class="popup-image" id="popup-image-m33-x7" src="/images/galaxies_images/m33_x7.png" alt="Sistema Binário Estelar M33 X-7" loading="eager">
        </picture>
    </div>
    <div class="popup-content">
        <div class="close-icon-div">
            <img class="close-icon" src="/images/close_icon.png" alt="Fechar" title="Fechar">
        </div>
        <div class="icons-div">
            <img class="star-icon" src="/images/star_icon.png" alt="Favoritar" title="Favoritar">
            <img class="selected-star-icon" src="/images/selected_star_icon.png" alt="Favoritar" title="Favoritar">
            <img class="idea-icon" src="/images/light_bulb.png" alt="Espaço Ideal" title="Espaço Ideal">
        </div>
        <div class="popup-text">
            <h2>M33 X-7</h2>
            <p>
                O sistema binário M33 X-7 é um exemplo intrigante de um sistema estelar que consiste em uma estrela massiva e um buraco negro. Localizado na Galáxia do Triângulo, M33 X-7 é um sistema binário onde uma estrela supergigante está orbitando um buraco negro de massa intermediária. Este tipo de sistema é fascinante porque permite aos astrônomos estudar como buracos negros se formam e interagem com suas estrelas companheiras. A interação entre a estrela e o buraco negro pode causar a emissão de raios X e outros fenômenos cósmicos, tornando esse sistema uma rica fonte de informações sobre a física das estrelas e buracos negros.
            </p>
        </div>
    </div>
</div>