<div class="popup-box">
    <div class="popup-img-div">
        <picture>
            <source media="(max-width: 768px)" srcset="/images/milkyway_images/mars_popup.png" type="image/png" loading="eager">
            <img class="popup-image" id="popup-img-mars" src="/images/milkyway_images/mars.png" alt="Marte" loading="eager">
        </picture>
    </div>
    <div class="popup-content">
        <div class="icons-div">
            <img class="close-icon" src="/images/close_icon.png" alt="Ícone de fechamento" title="Fechar" >
            <img class="idea-icon" src="/images/light_bulb.png" alt="Lâmpada" title="Espaço Ideal">
        </div>
        <div class="popup-text">
            <h2>Marte</h2>
            <p>
                O planeta vermelho, Marte, tem fascinado a humanidade por séculos. Com seu solo rico em óxido de ferro, Marte se destaca no céu noturno com sua cor avermelhada. Ele é o quarto planeta a partir do Sol e é bem menor que a Terra, com apenas cerca de metade do diâmetro terrestre. Marte tem calotas polares feitas de gelo de água e dióxido de carbono congelado, e já houve água líquida por lá no passado. Um dos maiores vulcões do Sistema Solar, o Monte Olimpo, fica em Marte e é cerca de três vezes mais alto que o Monte Everest! Com missões como a Perseverance e planos futuros para enviar humanos, Marte está mais perto do que nunca de se tornar nosso próximo lar.
            </p>
        </div>
    </div>
</div>