<div class="popup-box">
    <div class="popup-img-div">
        <picture>
            <source media="(max-width: 768px)" srcset="/images/galaxies_images/neutrons_star_popup.png" type="image/png" loading="eager">
            <img class="popup-image" id="popup-img-neutron-star" src="/images/galaxies_images/neutrons_star.png" alt="Estrela Supermassiva" loading="eager">
        </picture>
    </div>
    <div class="popup-content">
        <div class="close-icon-div">
            <img class="close-icon" src="/images/general_images/close_icon.png" alt="Fechar" title="Fechar">
        </div>
        <div class="icons-div">
            <img class="star-icon" src="/images/general_images/star_icon.png" alt="Favoritar" title="Favoritar">
            <img class="selected-star-icon" src="/images/general_images/selected_star_icon.png" alt="Favoritar" title="Favoritar">
            <img class="idea-icon" src="/images/general_images/light_bulb.png" alt="Espaço Ideal" title="Espaço Ideal">
        </div>
        <div class="popup-text">
            <h2>Estrela de Nêutrons</h2>
            <p>
                Estrelas de nêutrons são alguns dos objetos mais densos do universo. Formadas pelo colapso de supernovas, essas estrelas são compostas quase inteiramente por nêutrons, e uma única colher de chá de sua matéria pesaria bilhões de toneladas na Terra! Com diâmetros de apenas 10 a 20 quilômetros, elas têm uma massa de cerca de 1,4 vezes a do Sol. As estrelas de nêutrons giram a velocidades incríveis, com algumas girando centenas de vezes por segundo, e podem ter campos magnéticos extremamente fortes. Elas também podem emitir feixes de radiação, que se tornam visíveis como pulsares quando o feixe passa pela Terra.
            </p>
        </div>
    </div>
</div>