<div class="popup-box">
    <div class="popup-img-div">
        <picture>
            <source media="(max-width: 768px)" srcset="/images/galaxies_images/ngc_604_popup.png" type="image/png" loading="eager">
            <img class="popup-image" id="popup-img-ngc-604" src="/images/galaxies_images/ngc_604.png" alt="Nebulosa NGC 604" loading="eager">
        </picture>
    </div>
    <div class="popup-content">
        <div class="close-icon-div">
            <img class="close-icon" src="/images/general_images/close_icon.png" alt="Fechar" title="Fechar">
        </div>
        <div class="icons-div">
            <img class="star-icon" src="/images/general_images/star_icon.png" alt="Favoritar" title="Favoritar">
            <img class="selected-star-icon" src="/images//images/general_images/selected_star_icon.png.png" alt="Favoritar" title="Favoritar">
            <img class="idea-icon" src="/images/general_images/light_bulb.png" alt="Espaço Ideal" title="Espaço Ideal">
        </div>
        <div class="popup-text">
            <h2>NGC 604</h2>
            <p>
                A Nebulosa NGC 604 é uma das maiores e mais brilhantes regiões de formação estelar da Galáxia do Triângulo, localizada a cerca de 2,7 milhões de anos-luz da Terra. Esta magnífica nebulosa é uma "fábrica" de estrelas, com centenas de estrelas jovens e massivas em seu interior, que estão iluminando e moldando a nebulosa com seus intensos ventos estelares e radiação. NGC 604 tem um tamanho impressionante, com um diâmetro de cerca de 1.500 anos-luz, e seu brilho é tão intenso que pode ser visto mesmo com telescópios pequenos. Ela oferece uma visão espetacular da beleza e do poder da formação estelar no universo.
            </p>
        </div>
    </div>
</div>