<div class="popup-box">
    <div class="popup-img-div">
        <picture>
            <source media="(max-width: 768px)" srcset="/images/galaxies_images/saturn_popup.png" type="image/png" loading="eager">
            <img class="popup-image" id="popup-img-saturn" src="/images/galaxies_images/saturn.png" alt="Saturno" loading="eager">
        </picture>
    </div>
    <div class="popup-content">
        <div class="close-icon-div">
            <img class="close-icon" src="/images/general_images/close_icon.png" alt="Fechar" title="Fechar">
        </div>
        <div class="icons-div">
            <img class="star-icon" src="/images/general_images/star_icon.png" alt="Favoritar" title="Favoritar">
            <img class="selected-star-icon" src="/images//images/general_images/selected_star_icon.png.png" alt="Favoritar" title="Favoritar">
            <img class="idea-icon" src="/images//images/general_images/light_bulb.pngulb.png" alt="Espaço Ideal" title="Espaço Ideal">
        </div>
        <div class="popup-text">
            <h2>Saturno</h2>
            <p>
                Saturno é o verdadeiro showman do Sistema Solar, com seus impressionantes anéis que o tornam um dos planetas mais icônicos. É o segundo maior planeta do nosso Sistema Solar, logo atrás de Júpiter, e é composto principalmente de hidrogênio e hélio. Embora seus anéis pareçam sólidos de longe, na verdade eles são feitos de bilhões de partículas de gelo e rocha, variando em tamanho de grãos de areia até montanhas! Saturno tem mais de 80 luas conhecidas, com Titã sendo a maior delas e a única lua no Sistema Solar com uma atmosfera densa. E se você estivesse em Saturno, o dia duraria apenas 10,7 horas, já que ele gira muito rápido em seu eixo!
            </p>
        </div>
    </div>
</div>