<div class="popup-box">
    <div class="popup-img-div">
        <picture>
            <source media="(max-width: 768px)" srcset="/images/galaxies_images/sun_popup.png" type="image/png" loading="eager">
            <img class="popup-image" id="popup-img-sun" src="/images/galaxies_images/sun.png" alt="Sol" loading="eager">
        </picture>
    </div>
    <div class="popup-content">
        <div class="close-icon-div">
            <img class="close-icon" src="/images/general_images/close_icon.png" alt="Fechar" title="Fechar">
        </div>
        <div class="icons-div">
            <img class="star-icon" src="/images/general_images/star_icon.png" alt="Favoritar" title="Favoritar">
            <img class="selected-star-icon" src="/images/general_images/selected_star_icon.png" alt="Favoritar" title="Favoritar">
            <img class="idea-icon" src="/images/general_images/light_bulb.png" alt="Espaço Ideal" title="Espaço Ideal">
        </div>
        <div class="popup-text">
            <h2>Sol</h2>
            <p>
                Nosso astro-rei, o Sol, é a estrela que mantém tudo no nosso Sistema Solar em ordem. Ele é responsável por 99,8% da massa total do Sistema Solar e é tão grande que você poderia colocar 1,3 milhões de Terras dentro dele! Sua superfície atinge temperaturas de cerca de 5.500°C, mas seu núcleo é onde as coisas realmente esquentam, chegando a impressionantes 15 milhões de graus Celsius. Além de nos aquecer e iluminar, o Sol tem um ciclo de atividade que dura cerca de 11 anos, durante o qual ele fica mais ou menos ativo. Então, na próxima vez que você olhar para o céu e sentir o calor, lembre-se: o Sol está a 150 milhões de quilômetros de distância, mas ainda faz toda a diferença!
            </p>
        </div>
    </div>
</div>