<div class="popup-box">
    <div class="popup-img-div">
        <picture>
            <source media="(max-width: 768px)" srcset="/images/galaxies_images/supernova_popup.png" type="image/png" loading="eager">
            <img class="popup-image" id="popup-img-supernova" src="/images/galaxies_images/supernova.png" alt="Supernova" loading="eager">
        </picture>
    </div>
    <div class="popup-content">
        <div class="close-icon-div">
            <img class="close-icon" src="/images/general_images/close_icon.png" alt="Fechar" title="Fechar">
        </div>
        <div class="icons-div">
            <img class="star-icon" src="/images/general_images/star_icon.png" alt="Favoritar" title="Favoritar">
            <img class="selected-star-icon" src="/images/general_images/selected_star_icon.png" alt="Favoritar" title="Favoritar">
            <img class="idea-icon" src="/images/general_images/light_bulb.png" alt="Espaço Ideal" title="Espaço Ideal">
        </div>
        <div class="popup-text">
            <h2>Supernova</h2>
            <p>
                Supernovas são explosões estelares tão brilhantes que podem ofuscar uma galáxia inteira por um curto período de tempo. Essas explosões ocorrem quando uma estrela atinge o final de sua vida e seu núcleo entra em colapso, liberando uma quantidade colossal de energia. Existem dois tipos principais de supernovas: as do Tipo I, que ocorrem em sistemas estelares binários quando uma estrela "rouba" material de sua companheira, e as do Tipo II, que acontecem quando uma estrela massiva esgota seu combustível e colapsa sob sua própria gravidade. As supernovas são responsáveis pela dispersão de elementos pesados, como ferro e oxigênio, pelo espaço, que eventualmente se tornam parte de novas estrelas, planetas e até mesmo de nós!
            </p>
        </div>
    </div>
</div>