.popup-box-footer{
    display: flex;
    align-items: center;
    width: 60%;
    background-color: rgba(27, 22, 35);
    padding: 40px 50px 40px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
    position: relative;
    min-height: 35%;
    max-height: 70%;
    border: 2px solid yellow;
}

.popup-content-footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.popup-text-footer p:nth-child(1){
    width: 90%;
    text-align: justify;
    font-family: 'Inconsolata';
    font-size: 1.2em;
    margin: auto;
}

.popup-text-footer p:nth-child(3){
    text-align: center;
    color: rgb(252, 213, 63);
    font-family: 'Xanh Mono';
    font-size: 1.3em
}

.popup-text-footer ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 10px;
}

.popup-text-footer ul li{
    margin-left: 35px;
}

.popup-text-footer ul li:first-child{
    margin-left: 0;
}

.popup-text-footer li::marker{
    content: '⭐';
    padding-bottom: 5px;
}

.popup-text-footer a{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-family: monospace;
    padding-left: 3px;
}

.popup-text-footer a:hover{
    color: rgb(252, 213, 63);
}

#astronaut-img{
    transition: none;
    transform: none;
    cursor: default;
}
.horizontal-row{
    display: block;
    width: 90%;
    height: 2px;
    background-color: rgb(199, 199, 0);
    margin: 20px auto;
}
