.main-aboutme{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    grid-area: main;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.popup-content-footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.aboutme-text-div{
    width: 55%;
    margin-left: 30px;
}

.aboutme-text-div h1{
    text-align: left;
    font-family: 'Xanh Mono';
    font-size: 1.8em;
    margin: auto;
    margin-bottom: 30px;
    color: rgb(160, 143, 255);
}

.aboutme-text-div p{
    text-align: left;
    font-family: monospace;
    font-size: 1.2em;
    margin: auto;
    line-height: 1.4em;
}

.aboutme-nav-div{
    display: flex;
    flex-flow: column nowrap;
    width: 45%;
}

.aboutme-links-div h2{
    text-align: center;
    color: rgb(252, 213, 63);
    font-family: 'Xanh Mono';
    font-size: 1.5em;
    margin-bottom: 30px;
}

.aboutme-links-div ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.aboutme-links-div ul li:not(:first-child){
    margin-left: 35px;
}

.aboutme-links-div li::marker{
    content: '⭐';
}

.aboutme-links-div a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: monospace;
    padding-left: 3px;
}

.aboutme-links-div a:hover{
    color: rgb(252, 213, 63);
}

.aboutme-img-div{
    margin: 50px auto 0 auto;
}

#astronaut-img{
    display: block;
}

.aboutme-vertical-row{
    background-color: #c7c700;
    display: block;
    margin: 0 20px;
    width: 2px;
    height: 70%;

}
