@media only screen and (max-width: 992px){
    
    .popup-content{
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        width: 85%;
        height: 300px;
        background-color: rgb(16 13 21);
        border-radius: 10px;
        border: 2px solid rgb(175, 175, 0);
        box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
        padding: 0;
        margin: auto;
    }
    
    #popup-image{
        position: absolute;
        top: 15%;
        z-index: 999;
    }

    .popup-content p{
        font-size: 0.9em;
        width: 85%;
        padding-bottom: 20px;
    }

    .popup-content h2{
        font-size: 1.8em;
        width: 95%;
    }

    .icons-div{
        top: 25px
    }
}