*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(7, 0, 10) url('../../../public/assets/images/space_background_trasnparent.png') center;
    background-size: contain;
}

body, html{
    max-width: 100vw;
    min-height: 100vh;
}