@keyframes levitate{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(7px);
    }
}

@keyframes levitate-sun{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-10px);
    }
}

@keyframes levitate-earth{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(10px);
    }
}

@keyframes levitate-mars{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-10px);
    }
}

@keyframes levitate-saturn{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(10px);
    }
}

@keyframes scale-up{
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.2)
    }
}