.main-aboutme{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    grid-area: main;
    align-items: center;
    justify-content: center;
    padding: 100px 50px;
}

.aboutme-text-div h1{
    text-align: left;
    font-family: 'Xanh Mono';
    font-size: 1.8em;
    margin-bottom: 30px;
    color: rgb(199, 199, 0);
}

.aboutme-text-div p{
    text-align: left;
    font-family: monospace;
    font-size: 1.2em;
    line-height: 1.4em;
    width: 60%;
}

.aboutme-nav-div{
    display: flex;
    flex-flow: column nowrap;
}

.aboutme-links-div h2{
    color: rgb(255, 246, 140);
    font-family: 'Xanh Mono';
    font-size: 1.4em;
    margin-bottom: 30px;
}

.aboutme-links-div ul{
    margin-left: 15px
}

.aboutme-links-div ul li{
    margin-bottom: 20px;
}

.aboutme-links-div li::marker{
    content: '⭐';
}

.aboutme-links-div a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: monospace;
    padding-left: 3px;
}

.aboutme-links-div a:hover{
    color: rgb(252, 213, 63);
}

.aboutme-img-div{
}

#astronaut-img{
    display: block;
}

.aboutme-vertical-row{
    background-color: yellow;
    display: block;
    margin: 0 20px;
    width: 2px;
    height: 70%;
}

.specials-div h2{
    font-size: 1.5em;
    font-family: 'Xanh Mono';
    margin-bottom: 30px;
    color: rgb(255, 246, 140);
}

.specials-div p{
    font-size: 1.2em;
    width: 60%;
    font-family: monospace;
    line-height: 1.4em;
}