.fluid-header{
    display: none;
    position: absolute;
    z-index: 999;
    width: 100%;
}

.fluid-header ul{
    display: block;
}

.fluid-header ul li{
    background-color: rgb(27, 22, 35);
    border-bottom: 2px solid rgb(49, 37, 58);
    
}

.fluid-header a{
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-size: 1.3em;
    padding: 10px 0;
    text-shadow: 0 0 5px rgb(220, 190, 233);
}