@import url(../milkyway/keyframes.css);

body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/images/space_background.jpg);
}

/* ---------- SUN POPUP ---------- */

.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.popup-box{
    position: fixed;
    width: 60%;
    background-color: rgb(16 13 21);
    border-radius: 10px;
    border: 2px solid rgb(175, 175, 0);
    margin-bottom: -10%;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
}

#popup{
    position: absolute;
    top: 0;
    left: 50%;
    width: 270px;
    animation: levitate-popup 1.5s ease-in-out 0s infinite alternate both;
}

#close-icon{
    padding: 10px;
    position: absolute;
    right: 0;
}

#close-icon:hover{
    cursor: pointer;
}

.popup-content{
    position: relative;
    width: 80%;
    margin: auto;
    padding: 45px 0 30px 0;
}

.popup-content h2{
    text-align: center;
    font-size: 2.5em;
    color: yellow;
    font-family: 'Bungee Outline';
    margin-bottom: -7px;
}

.popup-content p{
    text-align: justify;
    color: white;
    font-family: 'Inconsolata';
    font-size: 1.2em;
}