.popup-box-footer{
    width: 60%;
    background-color: rgba(27, 22, 35);
    padding: 40px 50px 40px 0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.6);
    position: relative;
}

.popup-content-footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.popup-text-footer p:nth-child(1){
    width: 90%;
    text-align: justify;
    font-family: 'Inconsolata';
    font-size: 1.1em;
    padding-bottom: 20px;
    margin: auto;
}

.popup-text-footer p:nth-child(2){
    text-align: center;
    padding: 15px 0 5px 0;
    color: rgb(252, 213, 63);
    font-family: 'Xanh Mono';
    font-size: 1.3em;
    border-top: 2px solid rgb(199, 199, 0);
}

.popup-text-footer ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 10px;
}

.popup-text-footer ul li{
    margin-left: 35px;
}

.popup-text-footer ul li:first-child{
    margin-left: 0;
}

.popup-text-footer li::marker{
    content: '⭐';
    padding-bottom: 5px;
}

.popup-text-footer a{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-family: monospace;
}

.popup-text-footer a:hover{
    color: rgb(252, 213, 63);
}

#close-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

#astronaut-img{
    transition: none;
    transform: none;
    cursor: default;
}