.main-error{
    display: grid;
    grid-template: "astronaut" 33.3%
                    "error" 33.3%
                    "satellite" 33.3%
                    / 100%;
    max-width: 100vw;
    justify-items: center;
}

.astronaut-div{
    grid-area: astronaut;
    align-self: self-start;
    animation: levitate 1.5s ease-in-out 0s infinite alternate both;
}

.main-div-error{
    grid-area: error;
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.satellite-div{
    grid-area: satellite;
    align-self: self-end;
    animation: reverse-levitate 1.5s ease-in-out 0s infinite alternate both;
}

.main-div-error h1{
    text-align: center;
    font-size: 7em;
    color: transparent;
    -webkit-text-stroke: 4px yellow;
    font-style: italic;
    font-family: 'Rubik Mono One';
}

.main-div-error p{
    font-family: 'Inconsolata';
    font-size: 1.3em;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.main-div-error button{
    display: block;
    margin: auto;
    padding: 10px 20px;
    border: 3px solid rgb(28 23 67);
    background-color: transparent;
    border-radius: 7px;
    color: white;
    font-size: 1.4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s linear 0s;
}

.main-div-error button:hover{
    transform: scale(1.1);
    cursor: pointer;
}