@media only screen and (max-width: 992px){

    .main-div-error{
        grid-template: "astronaut error satellite" 100vh
                        / 1fr 2fr 1fr;
    }

    .main-div-error h1{
        font-size: 4em;
    }

    .main-div-error p{
        font-size: 0.9em;
        width: 100%;
        margin-bottom: 30px;
    }

    .main-div-error button{
        font-size: 1em;
        padding: 5px 10px;
    }
}