@media only screen and (max-width: 768px){

    .footer-btn-div{
        display: none;
    }

    .footer-links-div{
        width: 65%;
    }

    .footer-links-div p{
        font-size: 1em;
        padding-top: 7px;
    }

    .footer-links-div ul{
        line-height: 1.7em;
    }

    .footer-links-div li a{
        font-size: 1.1em;
    }

    .footer-msg-div{
        width: 35%;
        flex-flow: column nowrap;
    }

    .footer-msg-div p{
        font-size: 0.8em;
        margin-right: 0;
    }

    .footer-msg-div img{
        width: 50px;
        padding-bottom: 0;
    }
}