header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    max-width: 100vw;
    background-color: rgba(27, 22, 35);
    font-family: monospace;
    font-size: 1.4em;
    border-bottom: 2px solid rgb(49, 37, 58);
    z-index: 1000;
    padding: 10px 0;
}

header:hover{
    box-shadow: 0 3px 12px rgba(49, 37, 58, 0.5);
}

header a{
    text-decoration: none;
}

.logo{
    width: 60px;
    margin-right: 8px;
}

.main-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.main-ul li a{
    padding: 9px;
    border-radius: 5px;
    outline: 2px solid rgb(70, 58, 79);
    color: rgb(199, 199, 0);
    margin-right: 45px;
}

.logo-link{
    display: block;
    width: auto;
    margin-left: 50px;
}

.logo-div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.logo-div p{
    text-align: center;
    font-family: monospace;
    font-size: 1em;
    color: white;
    text-shadow: 0 0 5px rgb(220, 190, 233);
}

.logo-div p:first-child{
    margin-left: -3px;
}

.main-ul li > a:hover{
    cursor: pointer;
    animation: background-gradient 0.2s ease-in-out 0s 1 normal forwards;
}

.menu-icon{
    display: none;
    margin-right: 50px;
    width: 45px;
    margin-bottom: 1px;
}

.menu-icon:hover{
    cursor: pointer;
}

.shake-animation{
    animation: shake 0.5s linear 0s 1 normal none;
}