@media (max-width: 992px) {
	.aboutme-main {
		grid-template:
			'aboutme  aboutme aboutme' auto
			'specials specials astronaut' auto
			'nav quote astronaut' auto
			/ 20% 40% 40%;
		row-gap: 50px;
		padding: 60px 45px;
	}

	.aboutme-text-div {
		grid-area: aboutme;
	}

	.aboutme-text-div h1 {
		font-size: 1.2em;
	}

	.aboutme-main p {
		font-size: 0.9em;
	}

	.aboutme-links-div h2 {
		font-size: 1em;
	}

	.specials-div h2 {
		font-size: 1.1em;
	}

	.aboutme-links-div a {
		font-size: 1.2em;
	}

	blockquote {
		width: 100%;
		font-size: 0.9em;
		padding: 20px;
	}
}

@media (max-width: 768px) {
	.aboutme-main {
		grid-template:
			'aboutme aboutme' auto
			'specials specials' auto
			'nav astronaut' auto
			'quote quote' auto
			/ 50% 50%;
	}

	blockquote {
		font-size: 0.8em;
	}

	.aboutme-img-div {
		justify-content: flex-start;
	}
}
