@media (max-width: 992px){
    .password-form-div{
        max-width: 415px;
        width: 85vw;
        padding: 30px;
    }

    .password-form-div h1{
        font-size: 1.4em;
    }

    .password-form-div p{
        font-size: 1em;
        margin-bottom: 30px;
    }

    .code-div label, .new-password-div label{
        font-size: 0.9em;
    }

    .code-div, .new-password-div{
        width: 100%;
        max-width: 240px;
    }

    .code-div input, .new-password-div input{
        width: 100%;
        max-width: 240px;
        font-size: 1.1em;
        height: 30px;
    }

    .password-form-btn-div{
        width: 240px;
        justify-content: space-between;
    }

    .password-form-btn-div button, .password-form-btn-div input{
        font-size: 0.9em;
        padding: 6px 18px;
    }
}