@media (max-width: 992px){

    footer{
        grid-template: 'links cowboy' 100% / 1fr 1fr;
        padding: 20px 15px 20px 30px;
    }

    .footer-links-div{
        padding-left: 0;
    }

    .footer-btn-div{
        display: none;
    }
}

@media (max-width: 768px){

    .footer-links-div p{
        font-size: 1em;
        padding-top: 10px;
        line-height: 1.7em;
    }

    .footer-links-div ul{
        line-height: 1.7em;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    .footer-links-div li a{
        font-size: 1em;
        margin-right: 0;
    }

    .cowboy-bebop-div{
        flex-wrap: wrap;
        justify-content: center;
    }

    .cowboy-bebop-div p{
        font-size: 0.85em;
        margin: 0;
        padding: 0;
    }

    .cowboy-bebop-div img{
        padding-bottom: 0;
        width: 70px;
    }
}