@media (max-width: 992px){

    footer{
        grid-template: 'links cowboy' 100% / 2fr 1fr;
        padding: 10px 15px;
    }

    .footer-links-div {
        padding-left: 0;
    }

    .footer-btn-div{
        display: none;
    }
}

@media (max-width: 768px){

    .footer-links-div p{
        font-size: 1em;
        padding-top: 8px;
    }

    .footer-links-div ul{
        line-height: 1.6em;
    }

    .footer-links-div li a{
        font-size: 1em;
    }

    .cowboy-bebop-div{
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .cowboy-bebop-div p{
        font-size: 0.7em;
        margin: 0;
        padding: 0;
    }

    .cowboy-bebop-div img{
        width: 50px;
        padding-bottom: 0;
    }
}