@media (max-width: 992px) {

    /* ------- GENERAL GALAXIES STYLES ------- */

    .galaxies-title-div p{
        font-size: 1.3em;
    }

    .galaxies-title-div .highlight{
        font-size: 2.1em;
    }

    .galaxies-text-div{
        width: 70%;
        font-size: 1em;
    }

    .first-body-div{
        padding: 100px 0;
    }
    
    .second-body-div{
        padding: 100px 0 100px 50px;
    }
    
    .third-body-div{
        padding: 100px 50px 100px 0;
    }
    
    .fourth-body-div{
        padding: 100px 0 150px 50px;
    }

    /* ------- MILKYWAY IMAGES ------- */

    #sun{
        width: 200px;
    }
    
    #earth{
        width: 140px;
    }
    
    #mars{
        width: 120px;
    }
    
    #saturn{
        width: 280px;
    }

    /* ---------- ANDROMEDA IMAGES ---------- */

    #exoplanet{
        width: 160px;
    }

    #supermassive_star{
        width: 170px;
    }

    #supernova{
        width: 200px;
    }

    #cepheid_star{
        width: 100px;
    }

    /* ---------- TRIANGLE IMAGES ---------- */

    #neutrons_star{
        width: 150px;
    }

    #ngc_604{
        width: 220px;
    }

    #star_cluster{
        width: 220px;
    }

    #m33_x7{
        width: 220px;
    }
}