@media (max-width: 992px){
    
    header{
        padding: 10px 0;
    }
    
    .header-nav ul{
        display: none;
    }

    .logo-div img{
        width: 45px;
    }

    .header-nav img{
        width: 45px;
    }

    .logo-div p{
        font-size: 0.75em;
    }

    .menu-icon{
        display: block;
    }

    .logo-link{
        margin-left: 30px;
    }

    .login-link{
        margin: 0 30px 0 10px;
    }

    .profile-header{
        border-bottom: 0;
        box-shadow: 0 2px 12px rgb(56, 52, 52, 0.4);
    }

    .profile-header:hover{
        box-shadow: 0 2px 12px rgb(56, 52, 52, 0.4)
    }
}