@media (max-width: 768px){
    
    header{
        padding: 10px 0;
    }
    
    .header-nav ul{
        display: none;
    }

    .logo-div img{
        width: 45px;
    }

    .header-nav img{
        width: 45px;
    }

    .logo-div p{
        font-size: 0.75em;
    }

    .menu-icon{
        display: block;
    }
}