@media (max-width: 992px){
    
    /* ------- INTRODUCTION SECTION ------- */

    .intro-text-div p{
        font-size: 1.3em;
        margin-bottom: 10px;
        width: 82%;
    }

    .intro-text .highlight{
        font-size: 2.1em;
        width: 100%;
    }

    .welcomes-text .highlight{
        font-size: 2.2em;
    }

    .intro-btn{
        font-size: 1.1em;
    }

    /* ------- GALAXIES SECTION ------- */

    .galaxies-section{
        flex-flow: column nowrap;
        padding: 8vh 0 12vh 0;
    }

    .galaxies-text{
        width: 90%;
    }

    .galaxies-text p{
        font-size: 0.9em;
        text-align: justify;
        margin-bottom: 50px;
        width: 95%;
        line-height: 1.5em;
    }

    .galaxies-section h2{
        text-align: center;
        margin-bottom: 30px;
        font-size: 2em;
    }

    .galaxies-link-div a{
        font-size: 1em;
        padding: 10px 15px;
    }

    .galaxies-img-div{
        width: 100%;
    }

    /* ------- MILKYWAY SECTION ------- */

    .milkyway-section{
        flex-flow: column-reverse nowrap;
    }

    .triangle-section{
        flex-flow: column-reverse nowrap;
    }
}

@media (max-width: 768px){

    /* ------- INTRODUCTION SECTION ------- */

    .intro-section{
        background-image: linear-gradient(rgba(27, 22, 35), rgba(27, 22, 35, 0.7), transparent 80%);
    }

    .intro-text-div{
        flex-flow: column nowrap;
    }

    .welcomes-text{
        margin-bottom: 100px;
        width: 100%;
    }
    
    .intro-text{
        width: 100%;
    }

    /* ------- MUSIC POPUP ------- */

    .msc-popup{
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .msc-popup-close-icon{
        width: 28px;
    }

    .sound-icon, .music-icon{
        width: 28px;
    }
}