@media (max-width: 992px){

    /* ------- INDEX MAIN ------- */

    .index-main{
     grid-template: "intro-section" 90vh
                "milkyway-section" 0.5fr
                "andromeda-section" 0.5fr
                "triangle-section" 0.5fr
                / 100%;
    }

    /* ------- INTRODUCTION SECTION ------- */

    .intro-section{
        background-image: linear-gradient(rgba(27, 22, 35), rgba(27, 22, 35, 0.7), transparent 70%);
    }

    .intro-text-div{
        flex-flow: column nowrap;
    }
    
    .intro-text{
        width: 100%;
    }

    .intro-text-div p{
        font-size: 1.3em;
        margin-bottom: 10px;
        width: 82%;
    }

    .intro-text .highlight{
        font-size: 2.1em;
        width: 100%;
    }

    .welcomes-text .highlight{
        font-size: 2.2em;
    }

    .intro-btn{
        font-size: 1.1em;
    }

    /* ------- GALAXIES SECTION ------- */

    .galaxies-section{
        flex-flow: column nowrap;
        padding: 12vh 0;
    }

    .welcomes-text{
        margin-bottom: 100px;
        width: 100%;
    }

    .galaxies-text{
        width: 90%;
    }

    .galaxies-text p{
        font-size: 1em;
        text-align: justify;
        margin-bottom: 50px;
        width: 95%;
    }

    .galaxies-section h2{
        text-align: center;
        margin-bottom: 30px;
        font-size: 2em;
    }

    .galaxies-btn-div button{
        width: 250px;
        font-size: 1em;
        padding: 10px 0;
    }

    .galaxies-img-div{
        width: 100%;
    }

    /* ------- MILKYWAY SECTION ------- */

    .main-grid-div .milkyway-section{
        padding-top: 100px;
        flex-flow: column-reverse nowrap;
    }

    .main-grid-div .triangle-section{
        flex-flow: column-reverse nowrap;
    }
}

@media (max-width: 768px){

    .galaxies-text p{
        font-size: 0.8em;
        line-height: 1.5em;
    }

    /* ------- MUSIC POPUP ------- */

    .msc-popup{
        height: 140px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
    }

    .msc-popup p{
        font-size: 1em;
        margin-bottom: 5px;
    }

    .msc-popup-close-icon{
        width: 28px;
    }

    .sound-icon, .music-icon{
        width: 28px;
    }
}