@media (max-width: 992px){

    .login-form-content-div{
        width: 50vw;
        padding: 30px 0;
    }
    
    .login-form-text{
        width: 80%;
    }

    .login-form-text h1{
        font-size: 1.4em;
        text-shadow: 0 0 8px hsla(0,0%,100%,.2);
    }

    .login-form-text p{
        font-size: 0.9em;
    }

    .login-form-input-div input{
        font-size: 0.9em;
        width: 220px;
        height: 30px;
    }

    .login-form div:not(:last-child){
        margin-bottom: 20px;
    }
    
    .login-form-btn-div .login-btn{
        font-size: 0.8em;
        padding: 8px 10px;
        margin-top: 10px;
    }

    .login-form-input-div img{
        width: 25px;
    }

    .login-form-input-div label{
        font-size: 1em;
    }

    .horizontal-row{
        height: 2px;
        margin: 30px 0;
    }
}

@media (max-width: 768px){

    .login-form-content-div{
        width: 80vw;
    }

    .login-form-btn-div .login-btn:first-child{
        margin-right: 20px;
    }
}
