@media (max-width: 992px){
    
    .main-password-div{
        max-width: 415px;
        width: 85vw;
        padding: 30px;
    }

    .main-password-div h1{
        font-size: 1.4em;
    }

    .main-password-div p{
        font-size: 1em;
    }

    .identification-input-div label{
        font-size: 0.9em;
    }

    .identification-input-div input{
        width: 100%;
        max-width: 240px;
        font-size: 1em;
        height: 30px;
    }

    .submit-identification-btn{
        font-size: 0.9em;
        padding: 8px 16px;
    }
}