@media (max-width: 992px){
    .playlist-div{
        width: 180px;
    }
    
    .music-img{
        width: 45px;
    }

    .music-div p{
        font-size: 0.8em;
    }

    .sound-wave-icon{
        width: 26px;
    }
}

@media (max-width: 768px) {
    .playlist-div{
        bottom: 120px;
    }
}