@media (max-width: 768px){

    .popup-content p{
        font-size: 0.85em;
        width: 85%;
        line-height: 1.2em;
    }

    .popup-img-div img{
        margin-bottom: 15px;
    }

    .icons-div{ 
        top: 15px;
        right: 12px;
        flex-flow: row nowrap;
    }

    .icons-div img{
        width: 25px;
        height: 25px;
    }

    .popup-content .icons-div .close-icon{
        margin-bottom: 0;
        margin-right: 10px;
    }

    .popup-content h2{
        font-size: 1.5em;
        width: 50%;
        font-family: 'Inconsolata';
        color: yellow;
        -webkit-text-stroke: 0;
    }
}

@media (min-width: 768px) and (max-width: 992px){

    .popup-content p{
        font-size: 1em;
        width: 80%;
    }

    .popup-content h2{
        font-size: 2em;
    }

    .icons-div{
        top: 20px
    }
}

@media (max-width: 992px){

    .popup-box{
        flex-flow: column nowrap;
        justify-content: center;
    }

    .popup-content{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: rgb(16 13 21);
        border-radius: 10px;
        border: 2px solid rgb(175, 175, 0);
        box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
        padding: 20px 0;
        margin: 0;
    }
    
    .popup-img-div{
        height: auto;
    }

    .popup-image{
        align-self: flex-end;
    }

    .popup-content h2{
        margin: 0 auto 15px auto;
    }
}