@media (max-width: 992px){
    .signin-main{
        background-image: linear-gradient(rgb(27, 22, 35), rgba(27,22,35,0.8), transparent, rgb(5, 13, 35, 0.8), rgb(5, 13, 35));
    }

    .signin-template-div{
        flex-flow: column nowrap;
    }

    .signin-main h1{
        font-family: 'Inconsolata';
        font-size: 1.5em;
        text-shadow: none;
        color: white;
        margin-bottom: 30px;
    }

    .signin-main h2{
        font-family: 'Inconsolata';
        font-size: 1.7em;
        -webkit-text-stroke: 0;
    }

    .login-div h2{
        color: rgb(137, 111, 185);
    }

    .register-div h2{
        color: rgb(77, 95, 199);
    }

    .signin-template-div p{
        font-size: 1.1em;
    }

    .login-div, .register-div{
        width: 90%;
    }

    .signin-template-div a{
        width: 150px;
        text-align: center;
        font-size: 1.1em;
    }

    .login-div a{
        padding: 7px;
    }
    
    .register-div a{
        padding: 7px;
    }

    .signin-row{
        height: 2px;
        width: 80%;
        margin: 40px 0;
    }
}