<div class="hidden p-8 border-2 border-solid border-white bg-mid-blue z-999">
    <h2 class="font-inconsolata text-2xl ">Escolha uma foto de perfil</h2>
    <div class="flex flex-col">
        <div>
            <img src="/images/profile_images/astronaut_man_icon.png" alt="Astronauta homem">
            <img src="/images/profile_images/astronaut_woman_icon.png" alt="Astronauta mulher">
        </div>
        <div class="w-24">
            <img src="/images/profile_images/alien_icon.png" alt="Alienígena">
            <img src="/images/profile_images/robot_icon.png" alt="Robô">
        </div>
    </div>
    <a href="/editIcon">Salvar</a>
</div>