<div style="border: 2px solid #a1baff; padding: 50px; border-radius: 10px; background-color: #0a122b;">
    <h1 style="color: yellow; font-size: 1.8em; font-family: monospace;">Seja bem-vindo, {{username}}!</h1>
    <p style="color: white; font-family: monospace; font-size: 1.1em; white-space: pre-line; margin: 20px 0 30px 0;">
        Pronto para as novas aventuras que te esperam? Utilize o código abaixo para estar concluindo a criação da sua conta.

        <span style="color: yellow;">Dica do seu Guia:</span> Certifique-se de que não há epaços em branco ao enviar o código.
    </p>
    <p style="color: #8a58ff; font-size: 1.7em; font-family: monospace;">{{code}}</p>
</div>