<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Embarque em uma imersiva jornada espacial, visitando três galáxias e conhecendo seus principais corpos celestes.">
        <meta name="author" content="Matheus Cerqueira">
        <meta property="og:title" content="Jornada Espacial">
        <meta property="og:description" content="Embarque em uma imersiva jornada espacial, visitando três galáxias e conhecendo seus principais corpos celestes.">
        <meta property="og:image" content="https://site-jornada-espacial.onrender.com/images/header_images/logo_space_journey.png">
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
        <title>Jornada Espacial</title>
    </head>