<header>
    <a class="logo-link" href="/">
        <div title="Início" class="logo-div">
            <img class="logo" src="/images/header_images/logo_space_journey.png" alt="Logo Jornada Espacial">
            <span>
                <p>JORNADA</p>
                <p>ESPACIAL</p>
            </span>
        </div>
    </a>
    <nav class="header-nav">
        <ul>
            <li><a class="galaxies-links" href="/milkyway">Via Láctea</a></li>
            <li><a class="galaxies-links" href="/andromeda">Andrômeda</a></li>
            <li><a class="galaxies-links" href="/triangle">Triângulo</a></li>
        </ul>
        <img class="menu-icon" src="/images/header_images/menu_icon.png" alt="Ícone de menu">
        <a class="login-link" href="/account/profile"><img src="/images/header_images/astronaut_icon.png" alt="Meu perfil" title="Meu perfil"></a>
    </nav>
</header>