<div class="playlist-div">
    <div class="music-div" id="redbone">
        <img class="music-img" src="/images/playlist_images/redbone.jpg" alt="Redbone">
        <img class="sound-wave-icon" src="/images/playlist_images/sound_wave.png" alt="Onda de áudio">
        <p>Come and Get Your Love - Redbone</p>
    </div>
    <div class="music-div" id="sinatra">
        <img class="music-img" src="/images/playlist_images/frank_sinatra.jpg" alt="Frank Sinatra">
        <img class="sound-wave-icon" src="/images/playlist_images/sound_wave.png" alt="Onda de áudio">
        <p>Fly Me To The Moon - Frank Sinatra</p>
    </div>
    <div class="music-div" id="ewf">
        <img class="music-img" src="/images/playlist_images/ewf.jpeg" alt="Earth, Wind & Fire">
        <img class="sound-wave-icon" src="/images/playlist_images/sound_wave.png" alt="Onda de áudio">
        <p>Let's Groove - Earth, Wind & Fire</p>
    </div>
    <div class="music-div" id="bowie">
        <img class="music-img" src="/images/playlist_images/david_bowie.jpeg" alt="David Bowie">
        <img class="sound-wave-icon" src="/images/playlist_images/sound_wave.png" alt="Onda de áudio">
        <p>Starman - David Bowie</p>
    </div>
    <div class="music-div" id="elthon">
        <img class="music-img" src="/images/playlist_images/elthon_jhon.jpeg" alt="Elthon Jhon">
        <img class="sound-wave-icon" src="/images/playlist_images/sound_wave.png" alt="Onda de áudio">
        <p>Rocket Man - Elthon Jhon</p>
    </div>
</div>