<img class="right-arrow-icon arrow-icons" src="/images/profile_images/right_arrow_icon.png" alt="Abrir menu">
<img class="left-arrow-icon arrow-icons hidden" src="/images/profile_images/left_arrow.png" alt="Fechar menu">
<nav class="hidden h-92 profile-nav md:flex flex-col items-center justify-center fixed z-997 pl-2 md:pl-4">
    <ul class="list-none">
        <li class="mb-6">
            <a class="profile-nav-buttons" href="/account/profile">
                <img class="nav-button-images" src="/images/profile_images/home_icon.png" alt="Início" title="Início">
            </a>
        </li>
        <li class="mb-6">
            <a class="profile-nav-buttons" href="/account/profile/editProfile">
                <img class="nav-button-images" src="/images/profile_images/edit_profile_icon.png" alt="Editar perfil" title="Editar perfil">
            </a>
        </li>
        <li class="mb-6">
            <a class="profile-nav-buttons" href="">
                <img class="nav-button-images" src="/images/profile_images/game_icon.png" alt="Jogos" title="Jogos">
            </a>
        </li>
        <li>
            <a class="profile-nav-buttons" href="">
                <img class="nav-button-images" src="/images/profile_images/rank_icon.png" alt="Rank" title="Rank">
            </a>
        </li>
    </ul>
</nav>