<img class="close-modal-icon absolute top-5 right-5 hovering" src="/images/close_icon.png" alt="Ícone de fechamento">
<div class="flex justify-center items-center w-90 max-w-xl">
    <div class="text-center max-w-36 md:max-w-none">
        <div class="relative h-full rounded-full">
            <img class="w-full" src="/images/profile_images/musical_travaller_badge.png" alt="Insígnea">
            <div class="locked-badge absolute top-0 z-10 bg-black-transparenter w-full h-full rounded-full"></div>
        </div>
        <h1 class="text-base md:text-2xl font-mono tracking-wider pt-1 text-gray-400">Viajante Musical</h1>
    </div>
    <div class="pl-10 w-90">
        <p class="font-inconsolata text-xl md:text-3xl font-bold text-error-red mb-5">Bloqueada</p>
        <p class="font-inconsolata text-sm md:text-xl font-bold emphasis mb-2">Dica do seu guia:</p>
        <p class="font-inconsolata text-sm md:text-xl font-bold">Por que ouvir uma só? DJ, solta o play!</p>
    </div>
</div>