<%- include(head) %>
<body>
    <div class="main-grid-div">
        <%- include(header) %>
        <main class="main-aboutme">
            <%- include(fluidHeader) %>
            <div class="aboutme-content-div">
                <div class="aboutme-text-div">
                    <h1>Conhecendo seu Guia Espacial</h1>
                    <p>
                        Muito prazer <span class="highlight">Mochileiro!</span> Finalmente chegou a hora de nos conhecermos, nâo é? Me chamo Matheus, nasci em 2002 no estado do Rio de Janeiro, sou um apaixonado pelo espaço, obras de ficção científica e pelo mundo da programação. Com essas paixões em mente pensei: "Por que não juntar todas elas?". A partir disso, foi dado início no site Jornada Espacial, feito com muito carinho, dedicação e café, o resultado excedeu minhas expectativas, assim como espero que tenha excedido as suas. Para saber mais sobre todas as inspirações que utilizei para a construção do site, acessa as seção de Inspirações.
                    </p>
                </div>
                <div class="aboutme-nav-div">
                    <div class="aboutme-links-div">
                        <h2>Entre em contato e conheça meu trabalho:</h2>
                        <ul>
                            <li><a href="https://github.com/matcbv" target="_blank" rel="noopener">GitHub</a></li>
                            <li><a href="www.linkedin.com/in/matheus-cerqueira-baiao-victor" target="_blank" rel="noopener">Linkedin</a></li>
                            <li><a href="https://www.instagram.com/matheus.cbv/" target="_blank" rel="noopener">Instagram</a></li>
                        </ul>
                    </div>
                </div>
                <div class="specials-div">
                    <h2>Considerações especiais</h2>
                    <p>
                        Como considerações para essa Jornada, quero agradecer a meu amigo Marcos, que me ajudou desde o início opinando e testando as funcionalidades do site, meu professor Júlio, que me deu ideias e direcionamentos nos momento que precisava, e principalmente você, Mochileiro Espacial, que fez parte da nossa aventura e chegou até aqui.
                    </p>
                </div>
                <blockquote cite="https://www.pensador.com/frase/NTU4NjQ0/">
                    <p>Diante da vastidão do tempo e da imensidão do universo, é um imenso prazer para mim dividir um planeta e uma época com você.</p>
                    <div>
                        <cite>Carl Seagan</cite>, fonte: <a href="https://www.pensador.com/frase/NTU4NjQ0/" target="_blank" rel="noopener">Pensador</a>
                    </div>                        
                </blockquote>
            </div>
            <div class="aboutme-img-div">
                <img id="astronaut-img" src="/images/aboutme_images/aboutme_astronaut.png" alt="Astronauta">
            </div>
            <%- include(playlist) %>
            <%- include(audio) %>
            <%- include(swordfish) %>
        </main>
        <%- include(footer) %>
    </div>
    <script src="/js/bundle.js"></script>
</body>
</html>
