<%- include(head) %>
<body>
    <%- include(header) %>
    <main class="password-main">
        <%- include(fluidHeader) %>
        <div class="password-form-div">
            <h1>Quase lá, Mochileiro!</h1>
            <p>Ótimo, <span class="emphasis">Mochileiro!</span> Vamos ao que interessa. Realize a troca da sua senha inserindo o código recebido pelo email e a nova senha nos campos abaixo.</p>
            <form class="password-form" action="/savePassword" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="code-div">
                    <label for="code">Código de confirmação</label>
                    <input class="error-code" type="text" name="code" id="code" placeholder="<%= codeError %>" autofocus>
                </div>
                <div class="new-password-div">
                    <div>
                        <label for="password">Senha</label>
                    </div>
                    <div>
                        <input type="password" name="password" id="password" placeholder="<%= passwordError %>">
                        <img class="eye-icon" src="/images/profile_images/eye_icon.png" alt="Ver senha">
                        <span class="crossline"></span>
                    </div>
                </div>
                <div class="new-password-div">
                    <div>
                        <label for="password-confirmation">Confirme a senha</label>
                    </div>
                    <div>
                        <input type="password" name="password-confirmation" id="password-confirmation">
                        <img class="eye-icon" src="/images/profile_images/eye_icon.png" alt="Ver senha">
                        <span class="crossline"></span>
                    </div>
                </div>
                <div class="password-form-btn-div">
                    <input type="submit" value="Enviar">
                    <div>
                        <button class="resend-email" type="button">Reenviar email</button>
                        <span class="timer"></span>
                    </div>
                </div>
            </form>
        </div>
        <%- include(playlist) %>
        <%- include(audio) %>
        <%- include(swordfish) %>
    </main>
    <%- include(footer) %>
    <script src="/js/bundle.js"></script>
</body>
</html>
