<div class="code-password-div">
    <h1>Quase lá, Mochileiro!</h1>
    <p>Ótimo, Mochileiro! Estamos no caminho certo. Agora, antes de partirmos para a troca da senha, insira o código recebido por email no campo abaixo:</p>
    <form class="code-password-form" action="/checkCode" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <% if(codeError.length > 0){ %>
            <input class="code-password-input error-code" type="text" name="code" placeholder="<%= codeError %>">
        <% }else{ %>
            <input class="code-password-input" type="text" name="code" placeholder="Código secreto">
        <% } %>
        <div class="code-password-btn-div">
            <input type="submit" value="Enviar">
            <div>
                <button class="code-password-resend-email" type="button">Reenviar email</button>
                <span class="timer"></span>
            </div>
        </div>
    </form>
</div>