<%- include(head) %>
<body>
    <%- include(header) %>
    <main class="main-password">
        <%- include(fluidHeader) %>
        <div class="main-password-div">
            <h1>Resgate do Mochileiro</h1>
            <p>Acabou esquecendo sua senha, Mochileiro? Não se preocupe! Quem nunca não é? Estou aqui para ajudá-lo nisso. Primeiro, insira seu nome de usuário ou email cadastrado no campo abaixo:</p>
            <form action="" method="get">
                <label for="username">Usuário/Email</label>
                <input type="text" name="username" id="username">
                <button type="submit">Continuar</button>
            </form> 
            <form class="code-form" action="/checkCode" method="post">
                <p>Ótimo, Mochileiro! Estamos no caminho certo. Agora, antes de partirmos para a troca da senha, insira o código recebido por email no campo abaixo:</p>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <% if(codeError.length > 0){ %>
                    <input class="code-input error-code" type="text" name="code" placeholder="<%= codeError %>">
                <% }else{ %>
                    <input class="code-input" type="text" name="code" placeholder="Código secreto">
                <% } %>
                <div class="code-btn-div">
                    <input type="submit" value="Enviar">
                    <div>
                        <button class="resend-email" type="button">Reenviar email</button>
                        <span class="timer"></span>
                    </div>
                </div>
            </form>
        </div>
        <%- include(playlist) %>
        <%- include(audio) %>
        <%- include(swordfish) %>
    </main>
    <%- include(footer) %>
    <script src="/js/bundle.js"></script>
</body>
</html>
