<%- include(head) %>
<body>
    <%- include(header) %>
    <main class="validation-main">
        <%- include(fluidHeader) %>
        <div class="code-popup-div">
            <h1>Estamos quase lá, <span class="emphasis">Mochileiro!</span></h1>
            <p>Para finalizarmos a criação de sua conta, insira no campo abaixo o código recebido no email cadastrado.</p>
            <form class="code-form" action="/checkCode" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <% if(codeError.length > 0){ %>
                    <input type="text" name="code" id="code" placeholder="<%= codeError %>">
                <% }else{ %>
                    <input type="text" name="code" id="code" placeholder="Código secreto">
                <% } %>
                <div class="code-btn-div">
                    <input type="submit" value="Enviar">
                    <div>
                        <button class="resend-email" type="button">Reenviar email</button>
                        <span class="timer"></span>
                    </div>
                </div>
            </form>
        </div>
        <%- include(playlist) %>
        <%- include(audio) %>
        <%- include(swordfish) %>
    </main>
    <%- include(footer) %>
    <script src="/js/bundle.js"></script>
</body>
</html>
