<%- include(head) %>
<body>
    <%- include(header) %>
    <main class="edit-profile-main min-h-screen max-w-full relative">
        <%- include(fluidHeader) %>
        <%- include(profileNav) %>
        <div class="flex justify-center sm:justify-evenly max-w-full min-h-screen py-20">
            <div class="hidden sm:inline self-start">
                <img class="animate-levitate w-32 md:w-40" src="/images/profile_images/spaceship.png" alt="Espaçonave">
            </div>
            <section class="flex flex-col items-center justify-evenly max-w-xl">
                <div class="block md:flex items-center mb-10">
                    <div class="hidden md:flex flex-col justify-evenly items-center h-full mr-5 md:mr-10">
                        <img class="w-40 h-40" src="/images/profile_images/<%= profileImg %>_icon.png" alt="Imagem de perfil">
                        <button type="button" class="save-img-edit-button text-white font-mono text-lg py-2 px-6 border-2 border-solid border-gray-400 rounded-full bg-dark-blue cursor-pointer font-bold leading-snug hover:border-original-yellow">Salvar imagem</button>
                    </div>
                    <div class="profile-img-edit flex flex-col justify-evenly items-center w-72 md:w-80 p-6 border border-solid border-original-yellow bg-dark-blue rounded-lg">
                        <div class="flex justify-evenly mb-5 w-full">
                            <img class="w-24 md:w-28 p-2 cursor-pointer" id="astronaut_man" src="/images/profile_images/astronaut_man_icon.png" alt="Astronauta homem">
                            <img class="w-24 md:w-28 p-2 cursor-pointer" id="astronaut_woman" src="/images/profile_images/astronaut_woman_icon.png" alt="Astronauta mulher">
                        </div>
                        <div class="mb-5 md:mb-0 flex justify-evenly w-full">
                            <img class="w-24 md:w-28 p-2 cursor-pointer" id="alien" src="/images/profile_images/alien_icon.png" alt="Alienígena">
                            <img class="w-24 md:w-28 p-2 cursor-pointer" id="robot" src="/images/profile_images/robot_icon.png" alt="Robô">
                        </div>
                        <button type="button" class="save-img-edit-button text-white font-mono text-base md:text-lg py-2 px-6 border-2 border-solid border-gray-400 rounded-full bg-dark-blue cursor-pointer font-bold leading-snug w-48 md:hidden">Salvar imagem</button>
                    </div>
                </div>
                <form class="flex flex-col items-center md:[align-items:initial] w-full" action="/account/profile/editProfile/updateData" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="flex flex-col mb-7 w-72 md:w-auto md:mb-10">
                        <label class="edit-profile-labels" for="bio">Biografia (<span class="caracters-span"></span>/150)</label>
                        <% if(nameError.length > 0){ %>
                            <textarea class="edit-error-placeholder bio-textarea resize-none bg-mid-blue rounded-lg text-white py-2 px-4 border-2 border-solid border-gray-400 text-base md:text-lg font-mono font-bold focus:outline-none focus:border-original-yellow" name="bio" id="bio" rows="4" maxlength="150"><%= bioError %></textarea>
                        <% } %>
                        <textarea class="bio-textarea resize-none bg-mid-blue rounded-lg text-white py-2 px-4 border-2 border-solid border-gray-400 text-base md:text-lg font-mono font-bold focus:outline-none focus:border-original-yellow" name="bio" id="bio" rows="4" maxlength="150"><%= bio %></textarea>
                    </div>
                    <div class="flex flex-col md:flex-row w-72 md:w-auto md:justify-between md:mb-10">
                        <div class="flex flex-col mb-7 md:mb-0">
                            <label class="edit-profile-labels" for="name">Nome</label>
                            <% if(nameError.length > 0){ %>
                                <input class="placeholder-error-red edit-profile-inputs" type="text" name="name" id="name" placeholder="<%= nameError %>">
                            <% } else{ %>
                                <input class="edit-profile-inputs" type="text" name="name" id="name" value="<%= name %>">
                            <% } %>
                        </div>
                        <div class="flex flex-col mb-7 md:mb-0">
                            <label class="edit-profile-labels" for="lastname">Sobrenome</label>
                            <% if(lastnameError.length > 0){ %>
                                <input class="placeholder-error-red edit-profile-inputs" type="text" name="lastname" id="lastname" placeholder="<%= lastnameError %>">
                            <% } else{ %>
                                <input class="edit-profile-inputs" type="text" name="lastname" id="lastname" value="<%= lastname %>">
                            <% } %>
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row w-72 md:w-auto md:justify-between md:mb-10">
                        <div class="flex flex-col mb-7 md:mb-0">
                            <label class="edit-profile-labels" for="username">Usuário:</label>
                            <% if(usernameError.length > 0){ %>
                                <input class="placeholder-error-red edit-profile-inputs" type="text" name="username" id="username" placeholder="<%= usernameError %>">
                            <% } else{ %>
                                <input class="edit-profile-inputs" type="text" name="username" id="username" value="<%= username %>">
                            <% } %>
                        </div>
                        <div class="flex flex-col mb-7 md:mb-0">
                            <label class="edit-profile-labels" for="email">Email</label>
                            <% if(emailError.length > 0){ %>
                                <input class="placeholder-error-red edit-profile-inputs" type="email" name="email" id="email" placeholder="<%= emailError %>">
                            <% } else{ %>
                                <input class="edit-profile-inputs" type="email" name="email" id="email" value="<%= email %>">
                            <% } %>
                        </div>
                    </div>
                    <div class="flex flex-col w-full">
                        <div class="flex flex-col md:flex-row md:justify-start w-full">
                            <input class="bg-transparent w-44 md:w-auto text-sm md:text-lg font-mono font-bold border-2 border-solid border-original-yellow text-white mb-5 py-2 md:px-6 rounded-full md:mb-0 md:mr-5 cursor-pointer hover:border-white" type="submit" value="Salvar dados">
                            <input class="remove-account-btn bg-transparent w-44 md:w-auto text-sm md:text-lg font-mono font-bold border-2 border-solid border-error-red text-red-200 py-2 md:px-6 rounded-full cursor-pointer hover:border-white" type="button" value="Excluir conta">
                        </div>
                        <a href="/account/password" class="mt-7 ml-1 text-white font-mono text-sm md:text-lg bg-transparent border-none font-bold underline underline-offset-4 cursor-pointer hover:text-original-yellow">Trocar senha</a>
                    </div>
                </form>
            </section>
            <div class="hidden sm:inline self-end">
                <img class="animate-levitate w-32 md:w-40" src="/images/404_images/satellite.png" alt="Asteroide">
            </div>
        </div>
        <div class="delete-account-popup hidden items-center justify-center w-screen h-screen bg-black-transparent fixed top-0 left-0 z-999">
            <div class="bg-dark-blue rounded-lg border-2 border-solid border-white w-72 md:w-550 p-6 md:p-8">
                <h1 class="font-inconsolata text-base md:text-xl">Está de partida, <span class="text-original-yellow">Mochileiro?</span></h1>
                <p class="font-mono text-sm md:text-lg my-7"><span class="text-error-red inline-block text-base md:text-lg md:w-18 md:h-6 md:animate-resizing">Excluir</span> sua conta fará com que todo o seu progresso durante nossa jornada seja perdido!</p>
                <div class="flex justify-between md:justify-start">
                    <button type="button" class="continue-btn bg-transparent w-28 md:w-auto text-sm md:text-base font-mono font-bold border-2 border-solid border-error-red text-red-200 py-1 md:px-6 rounded-full md:mb-0 md:mr-5 cursor-pointer hover:border-white">Continuar</button>
                    <button type="button" class="back-btn bg-transparent w-28 md:w-auto text-sm md:text-base font-mono font-bold border-2 border-solid border-original-yellow text-white py-1 md:px-6 rounded-full md:mb-0 md:mr-5 cursor-pointer hover:border-white">Voltar</button>
                </div>
            </div>
        </div>
        <%- include(playlist) %>
        <%- include(audio) %>
        <%- include(swordfish) %>
    </main>
    <%- include(footer) %>
    <script src="/js/bundle.js"></script>
</body>
</html>