<%- include(head) %>
<body>
    <%- include(header) %>
    <main class="ideaform-main">
        <%- include(fluidHeader) %>
        <% if(successMsg.length > 0){ %>
            <div class="success-popup">
                <p><%= successMsg[0] %></p>
                <span class="idea-sent" hidden><%= ideaSent %></span>
            </div>
        <% } %>
        <div class="ideaform-content-div">
            <div class="idea-text-div">
                <h1>Espaço Ideal</h1>
                <p>Bem-vindo ao Espaço Ideal, <span class="highlight">Mochileiro!</span> Pegou o trocadilho? Espaço Sideral...Espaço Ideal... É, devo admitir que não sou o melhor em piadas, mas afirmo que não há Guia Espacial melhor que eu nesse Universo! Entretando, não é por isso que você, Mochileiro, não possa me ajudar também! No Espaço Ideal você pode opinar sobre nossa viagem no espaço dando idéias, sugestões e apontando problemas ou informações incorretas que encontrar.</p>
            </div>
            <span class="vertical-row"></span>
            <form class="idea-form" action="/ideaform/sendidea" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="radio-div">
                    <% if(subjectError.length > 0){ %>
                        <div><p class="error-messages"><%= subjectError %></p></div>
                    <% } %>
                    <h2>Assunto:</h2>
                    <div class="input-div">
                        <input checked type="radio" name="subject" id="idea" value="idea">
                        <label for="idea">Ideia/Sugestão</label>
                    </div>
                    <div class="input-div">
                        <input type="radio" name="subject" id="fix" value="fix">
                        <label for="fix">Correção </label>
                    </div>
                    <div class="input-div">
                        <input type="radio" name="subject" id="other" value="other">
                        <label for="other">Outro assunto</label>
                    </div>
                </div>
                <div class="textarea-div">
                    <% if(textError.length > 0){ %>
                        <div><p class="error-messages"><%= textError %></p></div>
                    <% } %>
                    <label for="text">Mensagem:</label>
                    <textarea name="text" id="subject-text" placeholder="Deixe aqui sua mensagem..." rows="5"></textarea>
                </div>
                <div class="email-div">
                    <% if(emailError.length > 0){ %>
                        <div><p class="error-messages"><%= emailError %></p></div>
                    <% } %>
                    <label for="email">E-mail para contato: <span class="emphasis">(Opcional)</span></label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="form-buttons-div">
                    <button class="send-idea-btn" type="submit">Enviar</button>
                    <button type="reset">Limpar</button>
                </div>
            </form>
        </div>
        <%- include(playlist) %>
        <%- include(audio) %>
        <%- include(swordfish) %>
    </main>
    <%- include(footer) %>
    <script src="/js/bundle.js"></script>
</body>
</html>