<%- include(head) %>
<body>
    <div class="main-grid-div">
        <%- include(header) %>
        <main class="main-inspirations">
            <%- include(fluidHeader) %>
            <h1>Inspirações 💭</h1>
            <div>
                <h2>Guardiões da Galáxia</h2>
                <p>Como um grande fã de super-heróis, não pude deixar de lembrar de Guardiões da Galáxia. Com uma das trilhas sonoras mais marcantes entre todos os filmes da Marvel, Come and Get Your Love, de Redbones, optei por escolhê-la como trilha sonora principal do site.</p>
                <img src="/images/inspiration_images/groot.gif" alt="Groot">
            </div>
            <div>
                <h2>Star Wars</h2>
                <p>O que devo falar sobre Star Wars? Sendo a série de ficção científica mais conhecida de todos os tempos, foi minha principal inspiração para o site. O plano de fundo, as cores e as fontes foram escolhidas a dedo em semelhança com essa grande obra.</p>
                <img src="/images/inspiration_images/r2d2.png" alt="R2D2">
            </div>
            <div>
                <h2>Cowboy Bebop</h2>
                <p>Um dos animes mais renomados jé feitos, Cowboy Bepop combina momentos de entretenimento com temas profundos como, a solidão encarada pelos personagem e a busca de cada um pela própria aceitação, impedida por pendências do passado. Cowboy Bebop me deu a força de vontade para continuar me empenhando nesse projeto que me orgulho tanto!</p>
                <img src="/images/inspiration_images/spike.png" alt="Spike">
            </div>
            <%- include(playlist) %>
            <%- include(audio) %>
            <%- include(swordfish) %>
        </main>
        <%- include(footer) %>
    </div>
    <script src="/js/bundle.js"></script>
</body>
</html>
