<%- include(head) %>
<body>
    <%- include(header) %>
    <main class="galaxies-main">
        <%- include(fluidHeader) %>
        <div class="galaxies-intro-div">
            <div class="galaxies-title-div">
                <p>Bem-vindo à</p>
                <h1 class="highlight">Via Láctea</h1>
            </div>
            <div class="galaxies-text-div">
                <p class="guide-text">Chegou a hora da aventura, <span class="emphasis">Mochileiro!</span> Está preparado? Explore a <span class="emphasis">Via Láctea</span>, nossa casa cósmica, uma galáxia espiral cheia de mistérios, estrelas e sistemas solares.</p>
                <p class="guide-text"><span class="emphasis">Clique</span> nos corpos celestes que deseja explorar abaixo</p>
            </div>
        </div>
        <div class="first-body-div">
            <img class="celestial-body-img" id="sun" src="/images/galaxies_images/sun.png" alt="Sol">
        </div>
        <div class="second-body-div">
            <img class="celestial-body-img" id="earth" src="/images/galaxies_images/earth.png" alt="Terra">
        </div>
        <div class="third-body-div">
            <img class="celestial-body-img" id="mars" src="/images/galaxies_images/mars.png" alt="Marte">
        </div>
        <div class="fourth-body-div">
            <img class="celestial-body-img" id="saturn" src="/images/galaxies_images/saturn.png" alt="Saturno">
        </div>
        <%- include(playlist) %>
        <%- include(audio) %>
        <%- include(swordfish) %>
    </main>
    <%- include(footer) %>
    <script src="/js/bundle.js"></script>
</body>
</html>