<%- include(head) %>
<body>
    <%- include(header) %>
    <main class="main-password">
        <%- include(fluidHeader) %>
        <div class="main-password-div">
            <h1>Resgate do Mochileiro</h1>
            <p>Acabou esquecendo sua senha, <span class="emphasis">Mochileiro?</span> Não se preocupe! Quem nunca não é? Estou aqui para ajudá-lo nisso.</p>
            <p>Primeiro, insira seu nome de usuário ou email cadastrado no campo abaixo:</p>
            <form class="id-form" action="/account/password/getUser" method="get">
                <div class="id-input-div">
                    <label for="username">Usuário/Email</label>
                    <% if(codeError.length > 0){ %>
                        <input class="error-code" type="text" name="username" id="username" placeholder="<%= userError %>">
                    <% }else{ %>
                        <input type="text" name="username" id="username">
                    <% } %>
                </div>
                <input class="submit-id-btn" type="submit" value="Continuar">
            </form>
        </div>
        <%- include(playlist) %>
        <%- include(audio) %>
        <%- include(swordfish) %>
    </main>
    <%- include(footer) %>
    <script src="/js/bundle.js"></script>
</body>
</html>
