<%- include(head) %>
<body>
    <%- include(header) %>
    <main class="password-main">
        <%- include(fluidHeader) %>
        <div class="main-password-div">
            <h1>Resgate do Mochileiro</h1>
            <p>Acabou esquecendo sua senha, <span class="emphasis">Mochileiro</span>? Não se preocupe! Quem nunca, não é? Estou aqui para ajudá-lo nisso.</p>
            <p>Primeiro, insira seu nome de usuário ou email cadastrado no campo abaixo.</p>
            <form action="/account/password/getUser" method="get">
                <div class="identification-input-div">
                    <label for="data">Usuário/Email</label>
                    <input class="error-code" type="text" name="data" id="data" placeholder="<%= userError %>" autofocus>
                </div>
                <input class="submit-identification-btn" type="submit" value="Continuar">
            </form>
        </div>
        <%- include(playlist) %>
        <%- include(audio) %>
        <%- include(swordfish) %>
    </main>
    <%- include(footer) %>
    <script src="/js/bundle.js"></script>
</body>
</html>
