<%- include(head) %>
<body>
    <%- include(header) %>
    <main class="register-main">
        <%- include(fluidHeader) %>
        <div class="register-content-div">
            <div class="register-form-text">
                <h1>Cadastro do Mochileiro</h1>
            </div>
            <form class="register-form" action="/account/signUp/register/email" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div>
                    <div class="register-input-div">
                        <label for="name">Nome</label>
                        <input type="text" name="name" id="name" autocomplete="given-name" placeholder="<%= nameError %>">
                    </div>
                    <div class="register-input-div">
                        <label for="lastname">Sobrenome</label>
                        <input type="text" name="lastname" id="lastname" autocomplete="family-name" placeholder="<%= lastnameError %>">
                    </div>
                </div>
                <div>
                    <div class="register-input-div">
                        <label for="username">Usuário</label>
                        <input type="username" name="username" id="username" autocomplete="username" placeholder="<%= usernameError %>">
                    </div>
                    <div class="register-input-div password-div">
                        <div>
                            <label for="password">Senha</label>
                            <img class="requirements-icon" src="/images/profile_images/info_icon.png" alt="Requisitos da senha">
                            <div class="password-requirements">
                                <p>Requisitos da senha:</p>
                                <ul>
                                    <li>De 8 a 16 caracteres.</li>
                                    <li>Ao menos uma letra minúscula.</li>
                                    <li>Ao menos uma letra maiúscula.</li>
                                    <li>Ao menos um número.</li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <input class="password-input" type="password" name="password" id="password" autocomplete="current-password" placeholder="<%= passwordError %>">
                            <img class="eye-icon" src="/images/profile_images/eye_icon.png" alt="Ver Senha">
                            <span class="crossline"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="register-input-div">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" autocomplete="email" placeholder="<%= emailError %>">
                    </div>
                    <div class="register-input-div">
                        <label for="birthday">Data de nascimento</label>
                        <% if(codeError.length > 0){ %>
                            <p>opa</p>
                            <input name="birthday" id="birthday" autocomplete="bday" placeholder="<%= birthdayError %>">
                        <% }else{ %>
                            <input class="data-placeholder" type="text" name="birthday" id="birthday" autocomplete="bday">
                        <% }%>
                    </div>
                </div>
                <div class="register-btn-div">
                    <input class="register-btn" type="submit" value="Criar conta">
                    <div class="rocket-img-div-small">
                        <img src="/images/profile_images/rocket.gif" alt="Foguete">
                    </div>
                </div>
            </form>
        </div>
        <div class="rocket-img-div">
            <img src="/images/profile_images/rocket.gif" alt="Foguete">
        </div>
        <%- include(playlist) %>
        <%- include(audio) %>
        <%- include(swordfish) %>
    </main>
    <%- include(footer) %>
    <script src="/js/bundle.js"></script>
</body>
</html>