<%- include(head) %>
<body>
    <div class="main-grid-div">
        <%- include(header) %>
        <main class="signin-main">
            <%- include(fluidHeader) %>
            <h1>Espaço do Mochileiro</h1>
            <div class="signin-template-div">
                <div>
                    <h2>Faça login</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, sit rem beatae eum quae ullam ipsa modi accusantium, voluptate illum alias ea earum. Et omnis possimus, totam incidunt aliquam mollitia.</p>
                    <a href=""></a>
                </div>
                <span class="vertical-row"></span>
                <div>
                    <h2>Crie sua conta</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, necessitatibus quo totam eum possimus, adipisci dicta voluptatum quaerat nam dolore sint, cumque quod. Provident tempora cumque quod eos molestiae. Amet!</p>
                    <a href=""></a>
                </div>
            </div>

            <%- include(playlist) %>
            <%- include(audio) %>
            <%- include(swordfish) %>
        </main>
        <%- include(footer) %>
    </div>
    <script src="/js/bundle.js"></script>
</body>
</html>
