<%- include(head) %>
<body>
    <%- include(header) %>
    <main class="galaxies-main">
        <%- include(fluidHeader) %>
        <div class="galaxies-intro-div">
            <div class="galaxies-title-div">
                <p>Bem-vindo à</p>
                <h1 class="highlight">Triângulo</h1>
            </div>
            <div class="galaxies-text-div">
                <p class="galaxies-intro-text">Hora de uma nova parada, <span class="emphasis">Mochileiro</span>! Bem-vindo à <span class="emphasis">Galáxia do Triângulo</span>, um impressionante berço estelar. Mesmo sendo a menor entre as demais, lembre-se: Tamanho não é documento! Com uma coleção impressionante de estrelas, prepare-se para vislumbrar seus aglomerados e nebulosas.</p>
                <p class="guide-text"><span class="click-icon-span emphasis">Clique <img class="click-icon" src="/images/general_images/click_icon.gif" alt="Ícone de clique"></span> nos corpos celestes que deseja explorar abaixo:</p>
            </div>
        </div>
        <div class="first-body-div">
            <img class="celestial-body-img" id="neutrons_star" src="/images/galaxies_images/neutrons_star.png" alt="Estrela de Nêutrons">
        </div>
        <div class="second-body-div">
            <img class="celestial-body-img" id="star_cluster" src="/images/galaxies_images/star_cluster.png" alt="Aglomerado Estelar de Triângulo">
        </div>
        <div class="third-body-div">
            <img class="celestial-body-img" id="ngc_604" src="/images/galaxies_images/ngc_604.png" alt="Nebula NGC 604">
        </div>
        <div class="fourth-body-div">
            <img class="celestial-body-img" id="m33_x7" src="/images/galaxies_images/m33_x7.png" alt="Sistema Binário Estelar">
        </div>
        <%- include(playlist) %>
        <%- include(audio) %>
        <%- include(swordfish) %>
    </main>
    <%- include(footer) %>
    <script src="/js/bundle.js"></script>
</body>
</html>