@keyframes levitate{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(7px);
    }
}

@keyframes slow-levitation{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-10px);
    }
}

@keyframes fast-levitation{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(10px);
    }
}

@keyframes grow{
    from{
        transform: scale(0.3)
    }
    to{
        transform: scale(1)
    }
}

@keyframes levitate-popup{
    from{
        transform: translate(-50%, -72%);
    }
    to{
        transform: translate(-50%, -75%);
    }
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}