@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes squish{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    50%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes levitate{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(7px);
    }
}

@keyframes milkyway-jump{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-15px);
    }
}

@keyframes andromeda-jump{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(15px);
    }
}

@keyframes down{
    from{
        transform: translateY(0);
    }
    to{
        box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
        transform: translateY(7px);
    }
}

@keyframes triangle-jump{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-15px);
    }
}

@keyframes launch {
    from{
        opacity: 0;
        transform: translate(0, 0);
    }
    to{
        opacity: 1;
        transform: translate(75%, -50%);
    }
}