<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="code-popup-div">
        <p>Insira no campo abaixo o código recebido no email cadastrado.</p>
        <form action="/validation">
            <input type="text" placeholder="Código Secreto">
            <input type="submit" value="Enviar">
            <input type="button" value="Reenviar email">
        </form>
    </div>
</body>
</html>