@keyframes levitate {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(7px);
	}
}

@keyframes reverse-levitate {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-7px);
	}
}

@keyframes bigger-levitation {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-10px);
	}
}

@keyframes bigger-reverse-levitation {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(10px);
	}
}

@keyframes grow {
	from {
		transform: scale(0.3);
	}
	to {
		transform: scale(1);
	}
}

@keyframes levitate-popup {
	from {
		transform: translate(-50%, -72%);
	}
	to {
		transform: translate(-50%, -75%);
	}
}

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes disappear {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes pulsing {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
