*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    max-width: 100vw;
    min-height: 100vh;
    background: rgba(8, 7, 12, 1) url('/public/assets/images/space_background_trasnparent.png') center;
    background-size: contain;
    color: white;
}