.galaxies-main{
    position: relative;
    grid-area: main;
}

/* ---------- INTRODUCTION SECTION ---------- */

.galaxies-intro-div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    animation: grow 1s linear 0s 1 normal both;
    height: 90vh;
}

.galaxies-intro-div p{
    font-family: 'Inconsolata';
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.galaxies-title-div .highlight{
    font-family: 'Rubik Mono One';
    font-size: 3em; 
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 1px yellow;
    animation: levitate 1.5s ease-in-out 0s infinite alternate both;
    text-shadow: none;
    font-weight: lighter;
    text-align: center;
}

.galaxies-title-div p{
    font-size: 1.5em;
    margin-bottom: 40px;
}

.emphasis{
    color: yellow;
}

.galaxies-text-div{
    font-size: 1.2em;
    width: 50%;
}

.galaxies-text-div p:first-child{
    margin-bottom: 50px;
}

/* ---------- MAIN SECTION ---------- */

.first-body-div{
    display: flex;
    justify-content: center;
    padding: 10vh 0;
    animation: bigger-reverse-levitation 2s ease-in-out 0s infinite alternate both;
}

.second-body-div{
    display: flex;
    justify-content: flex-start;
    padding: 10vh 0 10vh 20vw;
    animation: bigger-levitation 1s ease-in-out 0s infinite alternate both;
}

.third-body-div{
    display: flex;
    justify-content: flex-end;
    padding: 10vh 20vw 10vh 0;
    animation: bigger-levitation 1s ease-in-out 0s infinite alternate both;
}

.fourth-body-div{
    display: flex;
    justify-content: flex-start;
    padding: 15vh 0 30vh 15vw;
    animation: bigger-reverse-levitation 2s ease-in-out 0s infinite alternate both;
}

.galaxies-main img{
    transition: transform 0.3s linear 0s;
}

.galaxies-main img:hover:not(.playlist-div img){
    transform: scale(1.1);
    cursor: pointer;
}