<img class="close-modal-icon absolute top-5 right-5 hovering" src="/images/general_images/close_icon.png" alt="Ícone de fechamento">
<div class="flex justify-center items-center w-90 max-w-xl">
    <div class="text-center max-w-36 md:max-w-none">
        <img class="w-full" src="/images/profile_images/musical_travaller_badge.png" alt="Insígnea Viajante Musical">
        <h1 class="text-base md:text-2xl font-mono tracking-wider pt-1">Viajante Musical</h1>
    </div>
    <div class="pl-5 w-90">
        <p class="font-inconsolata text-base md:text-xl font-bold">Desbloqueada em <span class="text-original-yellow">{{date}}</span></p>
        <p class="font-inconsolata text-sm md:text-xl font-bold text-light-yellow mt-5">Escutou todas as músicas da playlist da Jornada Espacial</p>
    </div>
</div>