.code-password-div{
    width: 600px;
    box-shadow: 0 0 15px hsla(0, 0%, 100%, .4);
    border-radius: 10px;
    outline: 1px solid #fff;
    background-image: linear-gradient(rgba(27,22,35,.8),rgba(27,22,35,.7),transparent);
    padding: 50px;
}

.code-password-div h1{
    width: 520px;
    color: yellow;
    font-size: 2em;
    margin-bottom: 20px;
    font-family: monospace;
    margin: 0 auto 30px auto;
}

.code-password-div p{
    font-size: 1.3em;
    font-family: monospace;
    margin-bottom: 30px;
}

.new-password-code-div{
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 30px;
}

.new-password-label-div{
    margin-bottom: 5px;
}

.new-password-code-div label, .new-password-label-div label{
    font-family: 'Inconsolata';
    font-weight: bold;
    margin-bottom: 5px;
    padding-left: 10px;
}

.new-password-input-div{
    position: relative;
    display: flex;
    align-items: center;
}

.new-password-div{
    width: 300px;
    margin-bottom: 30px;
}

.code-password-input{
    background-color: transparent;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 1.2em;
    font-family: 'Inconsolata';
    font-weight: 700;
    height: 35px;
    outline: 1.5px solid #fff;
    padding: 0 15px;
    width: 300px;
}

.code-password-btn-div{
    display: flex;
}

.code-password-btn-div input, .code-password-btn-div button{
    background-color: transparent;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-family: 'Inconsolata';
    font-size: 1em;
    font-weight: 700;
    outline: 1px solid #ff0;
    padding: 8px 20px;
    text-decoration: none;
}

.code-password-btn-div input{
    margin-right: 20px;
}

.code-password-btn-div input:hover, .code-password-btn-div input:focus, .code-password-btn-div button:hover, .code-password-btn-div button:focus{
    box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    cursor: pointer;
    outline: 1px solid #fff;
}

.new-password-eye-icon{
    right: 10px;
    width: 28px;
    position: absolute;
}

.new-password-requirements-div{
    display: flex;
    margin-bottom: 0;
}

.new-password-requirements-icon{
    width: 20px;
    height: 20px;
    right: 0;
    margin-left: 5px;
}

.new-password-requirements-icon:hover{
    cursor: pointer;
}
