.password-form-div{
    width: 600px;
    box-shadow: 0 0 15px hsla(0, 0%, 100%, .4);
    border-radius: 10px;
    outline: 1px solid #fff;
    background-image: linear-gradient(rgba(27, 22, 35, .8),rgba(27, 22, 35, .7),transparent);
    padding: 50px;
    margin: 80px 0;
}

.password-form-div h1{
    color: yellow;
    font-size: 1.8em;
    margin-bottom: 20px;
    font-family: monospace;
    margin: 0 auto 30px auto;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}

.password-form-div p{
    font-size: 1.2em;
    font-family: monospace;
    margin-bottom: 40px;
}

.code-div{
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 30px;
    width: 300px;
}

.code-div label, .new-password-div label{
    font-family: 'Inconsolata';
    font-weight: bold;
    padding-left: 10px;
}

.code-div label, .new-password-div div:first-child{
    margin-bottom: 5px;
}

.new-password-div{
    width: 300px;
    margin-bottom: 30px;
}

.new-password-div input, .code-div input{
    background-color: transparent;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 1.2em;
    font-family: 'Inconsolata';
    font-weight: 700;
    height: 35px;
    outline: 1.5px solid #fff;
    padding: 0 15px;
    width: 300px;
}

.new-password-div input:focus, .code-div input:focus{
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.new-password-div div:last-child{
    position: relative;
    display: flex;
    align-items: center;
}

.password-form-btn-div{
    display: flex;
    flex-flow: row wrap;
    width: 300px;
    justify-content: space-between;
}

.password-form-btn-div div{
    display: inline-block;
    position: relative;
}

.password-form-btn-div input, .password-form-btn-div button{
    background-color: transparent;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-family: 'Inconsolata';
    font-size: 1em;
    font-weight: 700;
    outline: 1px solid #ff0;
    padding: 10px 30px;
    text-decoration: none;
}

.password-form-btn-div input:hover, .password-form-btn-div input:focus, .password-form-btn-div button:hover, .password-form-btn-div button:focus{
    box-shadow: inset 0 0 5px hsla(0, 0%, 100%, .6);
    cursor: pointer;
    outline: 1px solid #fff;
}

.requirements-div{
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
}
