*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    max-width: 100vw;
    min-height: 100vh;
    background: rgba(8, 7, 12, 1) url('../images/space_background.png') center;
    background-size: cover;
    color: white;
}

.main-grid-div{
    min-height: 100vh;
    display: grid; 
    grid-template:  'header' auto
                    'intro-section' 4fr
                    'milkyway-section' 3.5fr
                    'andromeda-section' 3.5fr
                    'footer' auto
                    / 100%;
}