*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background: rgba(8, 7, 12, 1) url('/images/space_background.png') center;
    background-size: cover;
    color: white;
}

.main-grid-div{
    min-height: 100vh;
    display: grid; 
    grid-template:  'header' auto
                    'introduction-section' 4.4fr
                    'milkyway-section' 3.2fr
                    'andromeda-section' 3.2fr
                    'footer' 1fr
                    / 100vw;
}