main{
    min-height: 100vh;
}

/* ---------- INTRODUCTION SECTION ---------- */

.intro-section{
    grid-area: intro-section;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    animation: appear 1s ease-in-out 0s 1 normal forwards;
    background-image: linear-gradient(rgba(27, 22, 35) 40%, rgba(27, 22, 35, 0.7), transparent);
    font-family: monospace;
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.intro-animation{
    animation: squish 1s ease-in-out 0s 1 normal forwards;
}

@keyframes squish{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0);
    }
}

.intro-text-div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.intro-text{
    width: 50%;
    text-align: center;
    padding: 0 30px;
}

.intro-text p{
    width: 80%;
    font-size: 1.6em;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.intro-text .highlight{
    font-family: 'Rubik Mono One';
    font-size: 3.2em; 
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 1px yellow;
    animation: levitate 1.5s ease-in-out 0s infinite alternate both;
    text-shadow: none;
}

@keyframes levitate{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(7px);
    }
}

.welcomes-text{
    width: 50%;
    text-align: center;
    line-height: 4em;
    padding: 0 30px;
}

.welcomes-text p{
    font-size: 1.6em;
    margin: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.welcomes-text .highlight{
    font-family: 'Xanh Mono';
    font-size: 3.5em;
    font-style: italic;
    color: yellow;
}

.intro-btn-div{
    width: 100%;
}

.intro-btn{
    display: block;
    width: 16%;
    margin: auto;
    padding: 10px 0;
    border: 2px solid yellow;
    background-color: transparent;
    border-radius: 7px;
    color: white;
    font-size: 1.4em;
    font-family: fantasy;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}

.intro-btn:hover{
    animation: down 0.4s ease-in-out 0s 1 normal forwards;
    cursor: pointer;
}

@keyframes down{
    from{
        transform: translateY(0);
    }
    to{
        box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
        transform: translateY(7px);
    }
}


/* ---------- MILKYWAY SECTION ---------- */

.milkyway-section{
    grid-area: milkyway-section;
    border-bottom: 1px solid rgba(255, 255, 0, 0.7);
}

.milkyway-section .milkyway-img{
    width: 50%;
    margin-top: -80px;
}

.milkyway-section .milkyway-img img{
    display: block;
    margin: auto;
    animation: milkyway-jump 2s ease-in-out 0s infinite alternate both;
}

.milkyway-section .milkyway-img img:hover{
    cursor: pointer;
}

@keyframes milkyway-jump{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-15px);
    }
}

.milkyway-btn-div{
    width: 100%;
}

.milkyway-section .galaxies-text{
    width: 50%;
}

#milkyway-btn{
    border: 3px solid #4c4a7d;
}

#milkyway-btn:hover{
    box-shadow: inset 0 0 15px rgba(76, 74, 125, 0.6);
}

/* ---------- ANDROMDEDA SECTION ---------- */

.andromeda-section{
    grid-area: andromeda-section;
    border-bottom: 1px solid rgba(255, 255, 0, 0.7);
}

.andromeda-section .andromeda-img{
    width: 50%;
}

.andromeda-section .andromeda-img img{
    display: block;
    margin: auto;
    animation: andromeda-jump 2s ease-in-out 0s infinite alternate both;
}

.andromeda-section .andromeda-img img:hover{
    cursor: pointer;
}

@keyframes andromeda-jump{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(15px);
    }
}

.andromeda-section .galaxies-text{
    width: 50%;
}

#andromeda-btn{
    border: 3px solid #426596;
}

#andromeda-btn:hover{
    box-shadow: inset 0 0 15px rgba(66, 101, 150, 0.6);
}

/* ---------- CENTAURUS SECTION ---------- */

.centaurus-section{
    grid-area: centaurus-section;
}

.centaurus-section .centaurus-img{
    width: 50%;
}

.centaurus-section .centaurus-img img{
    display: block;
    margin: auto;
    width: 300px;
    animation: centaurus-jump 2s ease-in-out 0s infinite alternate both;
}

.centaurus-section .centaurus-img img:hover{
    cursor: pointer;
}

@keyframes centaurus-jump{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(15px);
    }
}

.centaurus-section .galaxies-text{
    width: 50%;
}

#centaurus-btn{
    border: 3px solid rgb(163, 128, 105);
}

#centaurus-btn:hover{
    box-shadow: inset 0 0 15px rgb(163, 128, 105, 0.6);
}

/* ---------- SHARED STYLES ---------- */

.galaxies-section{
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}

.galaxies-section h2{
    width: 90%;
    text-align: start;
    font-family: monospace;
    font-size: 2.5em;
    margin: 0 auto 20px auto;
    color: rgb(187, 187, 0);
}

.galaxies-text p{
    width: 90%;
    text-align: start;
    font-family: monospace;
    font-size: 1.5em;
    line-height: 1.3em;
    margin: auto;
}

.galaxies-btn-div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 50px;

}

.galaxies-btn-div button{
    display: block;
    width: auto;
    margin-left: 36px;
    padding: 15px 20px;
    background-color: transparent;
    border-radius: 7px;
    color: white;
    font-size: 1.4em;
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
}

.galaxies-btn-div button:hover{
    cursor: pointer;
}

.galaxies-btn-div span{
    display: inline-block;
    font-size: 1.8em;
    width: 36px;
    padding: 10px 0 0 10px;
}

.rocket{
    animation: launch 0.5s linear 0s 1 normal forwards;
}

@keyframes launch {
    from{
        opacity: 0;
        transform: translate(0, 0);
    }
    to{
        opacity: 1;
        transform: translate(75%, -50%);
    }
}