@media only screen and (max-width: 992px){

    /* ------- INDEX MAIN ------- */

    .index-main{
     grid-template: "intro-section" 1fr
                "milkyway-section" 0.5fr
                "andromeda-section" 0.5fr
                "triangle-section" 0.5fr
                / 100%;
    }

    /* ------- INTRODUCTION SECTION ------- */

    .intro-section{
        padding-top: 90px;
    }

    .intro-text-div{
        flex-flow: column nowrap;
    }
    
    .intro-text{
        width: 100%;
    }

    .intro-text-div p{
        font-size: 1.3em;
        margin-bottom: 10px;
        width: 82%;
    }

    .intro-text .highlight{
        font-size: 2.1em;
        width: 100%;
    }

    .welcomes-text .highlight{
        font-size: 2.2em;
    }

    .intro-btn{
        font-size: 1.1em;
    }

    /* ------- GALAXIES SECTION ------- */

    .galaxies-section{
        flex-flow: column nowrap;
        padding: 15vh 0;
    }

    .welcomes-text{
        margin-bottom: 100px;
        width: 100%;
    }

    .galaxies-text{
        width: 90%;
    }

    .galaxies-text p{
        font-size: 0.9em;
        text-align: justify;
        margin-bottom: 50px;
        width: 95%;
    }

    .galaxies-section h2{
        text-align: center;
        margin-bottom: 30px;
        font-size: 2.2em;
    }

    .galaxies-btn-div button{
        width: 280px;
        font-size: 1em;
        padding: 10px 15px;
    }

    .galaxies-img-div{
        width: 100%;
    }

    /* ------- MILKYWAY SECTION ------- */

    .main-grid-div .milkyway-section{
        padding-top: 50px;
        flex-flow: column-reverse nowrap;
    }

    .main-grid-div .triangle-section{
        flex-flow: column-reverse nowrap;
    }
}
@media only screen and (max-width: 768px){

        /* ------- MUSIC POPUP ------- */

        .msc-popup{
            height: 160px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    
        .msc-popup p{
            width: 79%;
            font-size: 1.1em;
        }
    
        .msc-popup-close-icon{
            width: 30px;
        }
}